*{
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}
body{
    background-color: #F4F4F4;
}

.sec-main{
    width: 100%;
    height: 470px;
    background: url("../images/bingbao.jpg") no-repeat;
    background-size: 100% 100%; /** 背景图自适应**/
}
.sec-main .top{
    width: 100%;
    height: 45px;
}
.top img{
    display: block;
    width: 22px;
    height: 22px;
}
.top a:nth-of-type(1){
    position: absolute;
    top: 20px;
    left: 10px;
}
.top a:nth-of-type(2){
    position: absolute;
    top: 20px;
    right: 10px;
}
.top .middle{
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -50px;

}
.top .middle img{
    float: left;
    vertical-align: middle;
}
.top .middle span{
    text-align: center;
}

.sec-main p{
    text-align: center;
}
.sec-main #temperature{
    font-size: 62px;
    line-height: 62px;
    height: 62px;
    margin-top: 66px;
}
.sec-main #weather{
    font-size: 22px;
    line-height: 22px;
    height: 22px;
    margin-top: 8px;
}
.sec-main #ct-wind-humidity{
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
}
.sec-main #tips{
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    margin-top: 60px;
}

#sec-tomorrow{
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: colum;
    justify-content: space-between;
    padding-top: 26px;
    margin-bottom: 10px;
    background-color: white;
}
#sec-tomorrow .item{
    height: 52px;
    width: 50%;
    padding: 0 20px;
    font-size: 14px;

}
#sec-tomorrow .item:nth-of-type(1){
    border-right: 1px solid;
    border-color: lightgray;
}

#sec-tomorrow .item .top{
    margin-bottom: 13px;
}
#sec-tomorrow .item .top .data{
    float: left;
}
#sec-tomorrow .item .top .temperature{
    float: right;
}
#sec-tomorrow .item .top:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#sec-tomorrow .item .bottom .weather{
    float: left;
}
#sec-tomorrow .bottom img{
    display: block;
    width: 22px;
    height: 22px;
    float: right;
}

#sec-hours{
    background-color: white;
    width: 100%;
    height: 105px;
    padding-top: 30px;
    margin-bottom: 10px;
    white-space: nowrap;    /*文本不会换行，文本会继续在同一行上继续*/
    overflow-y: auto;   /*可滑动*/ 
}

#sec-hours::-webkit-scrollbar{
    display: none;
}
#sec-hours ol{
    width: 400%;
    display: flex;
    flex-direction: colum;
    justify-content: space-around;
}
#sec-hours ol li{
    width: 15.3%;
    height: 80px;
    list-style: none;

}
#sec-hours ol li .tetx-time{
    color: #999;
    font-size: 12px;
    line-height: 12px;
    text-align: center;

}
#sec-hours ol li .text-degree{
    color: #434343;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    text-align: center;
}
#sec-hours ol li img{
    display: block;
    width: 24px;
    height: 24px;
    margin: 15px auto;
}


#sec-days{
    background-color: white;
    width: 100%;
    height: 364px;
    padding-top: 25px;
    margin-bottom: 10px;
    white-space: nowrap;    /*文本不会换行，文本会继续在同一行上继续*/
    overflow-y: auto;   /*可滑动*/
}
#sec-days #ct-scroll{
    width: 500px;
    height: 342px;

}
#sec-days::-webkit-scrollbar{
    display: none;  /*取消滚动轴*/
}
#sec-days #ct-scroll ol{
    list-style: none;

}
#sec-days #ct-scroll ol li{
    width: 70px;
    text-align: center;
    float: left;
}
#sec-days #ct-scroll ol li .day{
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    color: #b2b2b2;
}
#sec-days #ct-scroll ol li .data{
    margin: 5px 0 15px 0;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    color: #b2b2b2;
}
#sec-days #ct-scroll ol li .ct-daytime .weather{
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
}
#sec-days #ct-scroll ol li .ct-daytime img{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
#sec-days #ct-scroll ol li .ct-night{
    height: 54px;
    margin-top: 136px;
}
#sec-days #ct-scroll ol li .ct-night img{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
#sec-days #ct-scroll ol li .ct-night .weather{
    height: 14px;
    margin-top: 16px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
}

#sec-days #ct-scroll ol li .wind{
    width: 70px;
    margin: 0 auto 6px;
    font-size: 12px;
    line-height: 12px;
    color: #b2b2b2;
    padding-bottom: 5px;
}
#sec-days #ct-chart-days{
    height: 160px;
    padding: 80px 0 0 0;
}

#sec-living{
    width: 100%;
    height: 190px;
    background-color: white;
    white-space: nowrap;    /*文本不会换行，文本会继续在同一行上继续*/
    overflow-y: auto;   /*可滑动*/
}
#sec-living::-webkit-scrollbar{
    display: none;  /*取消滚动轴*/
}
#sec-living .container{
    height: 190px;
    width: 200%;
}
#sec-living .container .is-living{
    width: 50%;
    height: 100%;
    list-style: none;
    float: left;
    background-color: white;
}
#sec-living .container .is-living .item{
    text-align: center;
    width: 25%;
    height: 94px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    float: left;
    box-sizing: border-box;

}
#sec-living .container .is-living .item .icon{
    display: block;
    width: 24px;
    height: 24px;
    margin: 15px auto 10px;
}
#sec-living .container .is-living .item .content{
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    color: #434343;
    margin-bottom: 6px;
}
#sec-living .container .is-living .item .title{
    display: block;
    color: #999;
    height: 12px;
    line-height: 12px;

}

#sec-footer{
    width: 100%;
    height: 52px;
    padding: 15px 0;
    font-size: 12px;
    text-align: center;
    color: #b6b6b6;
}
#sec-footer #ct-links{
    width: 148px;
    height: 26px;
    line-height: 26px;
    margin: 0 auto;
}
#sec-footer #ct-links a{
    text-decoration: none;
    color: #b6b6b6;
}


#sec-loaction{
    position: fixed;
    display: none;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: white;
}
#sec-loaction #ct-search{
    width: 100%;
    height: 30px;
    padding: 7px 0;
    border-bottom: 1px solid #eee;
}
#sec-loaction #ct-search a{
    font-size: 14px;
    float: right;
    color: #434343;
    width: 60px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}
#sec-loaction #ct-search #ct-input{
    position: relative;
    margin-right: 60px;
    margin-left: 13px;
    height: 30px;
}
#sec-loaction #ct-search #ct-input span{
    position: absolute;
    height: 14px;
    width: 14px;
    top: 8px;
    left: 10px;
    background-size: 14px;
    background-image: url("../images/icon/sousuo.png");
}
#sec-loaction #ct-search #ct-input #i-location{
    width: 100%;
    height: 30px;
    padding: 5px 0 5px 32px;
    box-sizing: border-box;
    line-height: 24px;
    background: #f2f2f2;
    border-radius: 44px;
    font-size: 14px;
    color: #434343;
    outline: none;
    border: none;
}

#sec-loaction #ct-hot-city{
    width: 100%;
    padding: 12px 13px 7px;
    overflow: hidden;   
}
#sec-loaction #ct-hot-city #ct-history{
    width: 350px;
    height: 86px;

}
#sec-loaction #ct-hot-city #ct-history #btn-celan{
    height: 17px;
    width: 17px;
    float: right;
    background-image: url("../images/icon/shanchu.png");
    background-size: 17px 17px;
    margin-top: 21px;
}
#sec-loaction #ct-hot-city #ct-history .title{
    display: block;
    float: left;
    font-size: 16px;
    color: #434343;
    height: 22px;
    line-height: 20px;
}

#sec-loaction #ct-hot-city .ls-city{
    list-style: none;
}
#sec-loaction #ct-hot-city .ls-city .city{
    box-sizing: border-box;
    background: #f2f2f2;
    border-radius: 44px;
    padding: 0 16px;
    width: 30%;
    height: 32px;
    line-height: 32px;
    margin-bottom: 12px;
    margin-right: 5px;
    font-size: 14px;
    color: #434343;
    text-align: center;
    float: left;
}


